# PICKIT4
ACTION=="add", SUBSYSTEM=="tty", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="2177", MODE:="0666", SYMLINK+="bus/usb/mcp/pk4/tty%n"
ACTION=="add", SUBSYSTEM=="hidraw", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="2177", MODE:="0666", SYMLINK+="bus/usb/mcp/pk4/hidraw%n"
ACTION=="add", SUBSYSTEM=="usbmisc", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="2177", MODE:="0666", SYMLINK+="bus/usb/mcp/pk4/usbmisc%n"
ACTION=="bind", SUBSYSTEM=="usb", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="2177", MODE:="0666", SYMLINK+="bus/usb/mcp/pk4/usb%n"

# ATMEL-ICE
ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="2141", MODE:="0666", SYMLINK+="bus/usb/mcp/aice/usb0%n"
ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="2141", MODE:="0666", SYMLINK+="bus/usb/mcp/aice/usb1%n"
ACTION=="add", SUBSYSTEM=="hidraw", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="2141", MODE:="0666", SYMLINK+="bus/usb/mcp/aice/hidraw%n"
ACTION=="add", SUBSYSTEM=="usbmisc", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="2141", MODE:="0666", SYMLINK+="bus/usb/mcp/aice/usbmisc%n"

# MEDBG
ACTION=="add", SUBSYSTEM=="tty", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="2145", MODE:="0666", SYMLINK+="bus/usb/mcp/medbg/tty%n"
ACTION=="add", SUBSYSTEM=="hidraw", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="2145", MODE:="0666", SYMLINK+="bus/usb/mcp/medbg/hidraw%n"
ACTION=="bind", SUBSYSTEM=="usb", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="2145", MODE:="0666", SYMLINK+="bus/usb/mcp/medbg/usb%n"
